h1{
  color: purple;
  border-left: 3px solid gray;
  padding-left: 5px

}
p{
  color: black;

}
body{
  border: 20px solid #bdc3c7;
  padding: 20px;
  width: 700px;
  margin: 20px auto;
  padding-bottom: 1400px;
  font-family: 'Cabin',sans-serif;
  font-size: 20px;
}
.consultancy{
  border-left: 5px solid gray;
  padding-left: 3px;
  width: 300px;
  border: 3px solid purple;

}
/* Gradient transparent - color - transparent */

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
